:root {
  --primaryColor: #ebded6;
  --secondaryColor: #e0c9ba;
  --tertiaryColor: #d6beaf;
  --textColor1: #000000;
  --textColor2: #ffffff;
  --lineColor: #cdc2ba;
  --circleColor:gray;
  --waveColor:#e2c6b5;
  --barColor:#fff;
}
a{
  text-decoration: none;
  color: #212529;
}
/* hero section start============================ */
.flex_box {
  display: flex;
  align-items: center;
}
.hero_section {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background: var(--primaryColor);
  overflow: hidden;
  display: flex;
  align-items: center;
}
.hero_section .circle1,
.hero_section .circle2 {
  position: absolute;
  width: 400px;
  height: 400px;
  background: var(--secondaryColor);
  border-radius: 50%;
  z-index: 1;
  top: 0%;
  left: 0%;
  transform: translate(-50%, -50%);
}
.hero_section .circle2 {
  top: 100%;
  left: 100%;
  width: 300px;
  height: 300px;
  background: var(--tertiaryColor);
  transform: translate(-50%, -50%);
}
.hero_container {
  margin: 0 30px;
  width: 100%;
}
.hero_container .left_div {
  width: 100%;
}
.hero_container h5 {
  position: relative;
  font-family: "Italiana", sans-serif;
  text-transform: uppercase;
  color: var(--textColor2);
  text-shadow: 2px 2px 5px var(--primaryColor);
  font-size: 25px;
  z-index: 2;
}
.hero_container .head_div {
  position: relative;
  z-index: 2;
  padding: 80px 0;
  width: 100%;
  display: flex;
  align-items: center;
}
.hero_container .head_div::before,
.hero_container .head_div::after {
  content: "";
  position: absolute;
  top: 0;
  width: 80%;
  border-top: 2px dashed var(--lineColor);
}
.hero_container .head_div::after {
  top: 100%;
  width: 60%;
}
.hero_container .head_div .head1 {
  font-size: 6vw;
  position: relative;
  z-index: 2;
  text-transform: uppercase;
  margin: 0;
}
.hero_container .head_div .head2 {
  position: absolute;
  text-transform: uppercase;
  font-size: 15vw;
  color: var(--secondaryColor);
  z-index: 1;
  left: -12px;
  margin: 0;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
}
.hero_container .btn_div {
  padding-top: 15px;
}
.hero_container .btn_div button {
  cursor: pointer;
    font-size: 1.1rem;
    background: var(--textColor2);
    margin-left: 0.7rem;
    padding: 0.5rem 2rem;
    border-radius: 6px;
    transition: 0.5s;
}
.hero_container .btn_div button:hover {
  color: var(--primaryColor);
  background: var(--textColor1);
}
/* ===========responsive================ */
@media only screen and (max-width: 768px) {
  .hero_section .circle1 {
    width: 240px;
    height: 240px;
  }
  .hero_section .circle2 {
    width: 250px;
    height: 250px;
  }
  .hero_container .left_div {
    padding: 50px 0 15px;
  }
  .hero_container .head_div {
    padding: 60px 0;
  }
  .hero_container .head_div .head1 {
    font-size: 10vw;
    padding-bottom: 8px;
  }
  .hero_container .head_div .head2 {
    font-size: 22vw;
    left: -6px;
  }
  .hero_container h5 {
    font-size: 17px;
  }
}
@media only screen and (max-width: 400px) {
  .hero_container .head_div {
    padding: 40px 0 30px;
  }
  .hero_container .head_div .head2 {
    left: -4px;
  }
}
/* hero section end============================  */
/* ==================================================================== */
/* about section start============================ */
.about_section {
  height: 100vh;
  position: relative;
  width: 100%;
  overflow: hidden;
  background: #ffffff;
}
.about_section .maskington {
  overflow: hidden;
  background: radial-gradient(var(--secondaryColor), var(--primaryColor));
  cursor: none;
  position: relative;
  z-index: 10;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  transition: width 0.5s, height 0.5s;
}
.about_section .module {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 98.2vw;
  height: 100vh;
  z-index: 1000;
}
.about_section .flex_boxs {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 5vw;
  font-weight: 600;
}
.about_section .text-side {
  width: 90%;
}
.about_section .main_img {
  position: absolute;
  bottom: 0;
  height: 100%;
  /* -webkit-filter: grayscale(100%); */
  /* filter: grayscale(100%); */
}
/* ========wave effect========= */
.ocean {
  height: 80px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
}
.wave {
  position: absolute;
  width: 200%;
  height: 100%;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.7;
}
.wave:nth-of-type(2) {
  bottom: 0;
  animation: wave 18s ease reverse infinite;
  opacity: 0.5;
}
.wave:nth-of-type(3) {
  bottom: 0;
  animation: wave 20s ease infinite;
  opacity: 0.5;
}
@keyframes wave {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(-50%);
  }
}
/* ===========responsive================ */
@media only screen and (max-width: 768px) {
  .about_section .module,
  .about_section {
    height: 80vh;
  }
  .about_section .text-side {
    width: 92%;
  }
  .about_section .flex_boxs {
    font-size: 7vw;
  }
  .about_section .down_arrow {
    width: 40px;
  }
  .about_section .maskington {
    width: 150px;
    height: 150px;
  }
  .about_section .main_img {
    height: 90%;
  }
  .ocean {
    bottom: -10px;
  }
}
/* about section end============================  */
/* ==================================================================== */
/* about section start============================  */
.service_section {
  position: relative;
  background: linear-gradient(180deg,var(--waveColor),var(--primaryColor),var(--primaryColor));
  padding: 50px 100px;
  width: 100%;
  overflow: hidden;
}
.service_section .flex_box {
  justify-content: center;
}
.service_section .alldiv {
  overflow: hidden;
  height: 59vh;
  display: flex;
  align-items: baseline;
  border-radius: 12px;
}
.service_section .flex_box img {
  width: 104%;
  animation: scrollImage 40s linear infinite;

}
@keyframes scrollImage {
  0% { transform: translateY(0); }
  100% { transform: translateY(calc(-100% + 25%)); }
}

.service_section .content {
  position: relative;
}
.service_section .content:after {
  content: "";
  position: absolute;
  top: -7%;
  left: -2%;
  width: 60px;
  height: 60px;
  border: 2px dashed var(--circleColor);
  border-radius: 50%;
  animation: rotate 10s linear infinite;
}
.service_section .content h2 {
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  color: var(--textColor2);
  text-shadow: 2px 2px 5px var(--tertiaryColor);
}
.service_section .content p {
  text-align: justify;
  font-size: 18px;
  color: var(--textColor1);
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ===========responsive================ */
@media only screen and (max-width: 768px) {
  .service_section {
   padding: 70px 25px 50px;
  }
  .service_section .content p {
    font-size: 16px;
  }
  .service_section .content:after{
    top: -10%;
    left: -4%;
  }
}

/* about section end==============================  */
/* ==================================================================== */
/* skill section start============================  */
.skill_section {
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    180deg,
    var(--primaryColor),
    var(--barColor),
    var(--primaryColor)
  );
}
.skill_container {
  display: flex;
  align-items: center;
  padding: 20px 0;
  animation: moveLeft 50s linear infinite;
}
.skill_section div {
  padding: 40px 70px;
  font-size: 40px;
  font-weight: 700;
}
.skill_section div img{
  width: 100px;
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
  transition: 0.3s ease-in-out;
}
.skill_section div img:hover{
  -webkit-filter: grayscale(0%); 
  filter: grayscale(0%);
}
@keyframes moveLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-2000px);
  }
}
/* ===========responsive================ */
@media only screen and (max-width: 768px) {
  .skill_section div {
    padding: 60px 25px;
  }
  .skill_section div img{
    width: 70px;
  }

}
/* skill section end==============================  */
/* ==================================================================== */
/* contact section start============================  */
.contact_section {
  display: flex;
  align-items: center;
  background: var(--primaryColor);
  position: relative;
  overflow: hidden;
  height: 100vh;
}
.contact_container {
  width: 100%;
}
.contacts {
  padding: 30px 60px;
  font-size: 30px;
  font-weight: 800;
  border-bottom: 2px dashed var(--lineColor);
  cursor: pointer;
  font-family: "Syne", sans-serif;
  letter-spacing: 2px;
}
.contacts a{
 display: flex;
 height: fit-content;
}
.contacts:hover {
  background-color: var(--tertiaryColor);
  color: var(--textColor2);
  z-index: 2;
}
.img_box {
  position: absolute;
  z-index: 1;
  border-radius: 25px;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%) scale(0.2);
  opacity: 0;
  width: 200px;
}
.contacts:hover ~ .img_box {
  transform: translate(-50%, 9%) scale(1);
  opacity: 1;
}
/* ===========responsive================ */
@media only screen and (max-width: 768px) {
  .contacts {
    padding: 25px 20px;
    font-size: 25px;
  }
}
/* contact section end==============================  */
/* ==================================================================== */
/* button section start============================  */
.btn_groups{
  position: fixed;
  bottom: 2%;
  right: 2%;
  z-index: 10;
  padding: 5px 7px;
  border: 1px solid rgba(255, 255, 255, 0.177);
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 15px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.137);
  background: rgba(255, 255, 255, 0.53);
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
}
.btn_groups button{
  width: 25px;
  height: 25px;
  border-radius: 50px;
}
.theme_btn1{
  background: #ebded6;
  border: 0.5px solid #d6bcac;
}
.theme_btn2{
  background: rgb(23, 70, 255);
  border: 0.5px solid rgb(36, 146, 255);
}
.theme_btn3{
  background: rgb(255, 0, 85);
  border: 0.5px solid rgb(201, 0, 67);
}
/* button section end==============================  */
/* ==================================================================== */
/* footer start================================= */
.footer{
  display: flex;
  height: 8vh;
  justify-content: space-between;
  background-color: #212529;
  color: whitesmoke;
  padding: 0% 8%;
}
/* ===========responsive================ */
@media only screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    height: fit-content;
  }
}
/* footer end=================================== */

/* change variable color according to theme========= */
.theme1 {
  --primaryColor: #ebded6;
  --secondaryColor: #e0c9ba;
  --tertiaryColor: #d6beaf;
  --textColor1: #000000;
  --textColor2: #ffffff;
  --lineColor: #cdc2ba;
  --circleColor:gray;
  --waveColor:#e2c6b5;
  --barColor:#fff;
}
#wave1{
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23dfc2af'/%3E%3C/svg%3E");
}

.theme2 {
  --primaryColor: rgb(7, 106, 255);
  --secondaryColor: rgb(37, 168, 255);
  --tertiaryColor: rgb(49, 200, 255);
  --textColor1: #000000;
  --textColor2: #ffffff;
  --lineColor: rgb(155, 193, 255);
  --circleColor:rgb(79, 79, 79);
  --waveColor:#1a75ff;
  --barColor:rgb(158, 207, 255);
}
#wave2{
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23076AFF'/%3E%3C/svg%3E");
}

.theme3 {
  --primaryColor: rgb(255, 0, 85);
  --secondaryColor: rgb(255, 92, 146);
  --tertiaryColor: rgb(209, 0, 70);
  --textColor1: #000000;
  --textColor2: #ffffff;
  --lineColor: rgb(255, 188, 210);
  --circleColor:rgb(255, 188, 210);
  --waveColor:#ff1362;
  --barColor:rgb(255, 132, 173);
}
#wave3{
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23FF0055'/%3E%3C/svg%3E");
}
/* change variable color according to theme========= */